.allrings-container{
    display: grid;
    grid-template-columns: 4fr 3fr;
}
.ring-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width: 426px) {
    .allrings-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ring-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}